@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 text-center">
            <img src="/title.png" alt="PYB CICS" class="me-2" style="max-height: 30px; width: auto;" />
            <h4 class="text-primary mb-0 d-inline">PYB CICS - Sistema de Solicitações</h4>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
